body{
   background-color:#C3DBD9;
   font-family: Arial;
   color: white;
   margin-left: 45px;
   margin-right: 45px;
   font-weight: bold;


 }

 hr{
   border-color: white;
   border-width:5px;
   border-style: dotted none none;
   width: 8%;
}
h1,h2,h3,h4,h5,h6{
  Color: #E45826;
}
